<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
id:[[${info.id}]]<br>
账号:[[${info.username}]]<br>
系统管理员1:<br>
名字:[[${info.name1}]]<br>
性别:[[${info.gender1}]]<br>
项目组:[[${info.projectteam1}]]<br>
部门:[[${info.department1}]]<br>
电子邮箱:[[${info.email1}]]<br>
<br><br><br>
系统管理员2:<br>
名字:[[${info.name2}]]<br>
性别:[[${info.gender2}]]<br>
项目组:[[${info.projectteam2}]]<br>
部门:[[${info.department2}]]<br>
电子邮箱:[[${info.email2}]]<br>

</body>
</html>