<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/changePassword/}+${session.loginUser}" method="post">
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    旧密码：<input type="password" name="oldpassword" required="required"><br>
    新密码：<input type="password" name="newpassword1" required="required"><br>
    再次输入: <input type="password" name="newpassword2" required="required"><br>
    <input type="submit" value="修改">
</form>
</body>
</html>