<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="css/projectList.css" rel="stylesheet">
 <script src="Test/vue.min.js"></script>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 <script src="js/jquery-3.3.1.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
	<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1" />
	<title>securityManual</title>
    
 <style>
 .wd-header{
	font-weight:bold;
	font-family: 微软雅黑;
	color:#4185B7;
	font-size:18px;
	padding:10px 5px;
}
.title{
	font-weight:bold;
	font-family: 微软雅黑;
	color:#9A9A9A;
	font-size:15px;
	padding:2px 10px;

}
.content{
	font-family: 微软雅黑;
	color:#9A9A9A;
	font-size:15px;
	padding:5px 30px;
}
 </style>
 </head>
 <body>
 <div class="container">
 <div class="wd-header">
安全手册
 </div>
 <div class="title">
 <span>1.目的</span>
 </div>
 <div class="content">
为保证实验室工作人员对各类检验仪器的安全使用,维护检验工作的正常运转,确保检验工作的顺利进行。 
 </div>
  <div class="title">
 <span>3.范围</span>
 </div>
 <div class="content">
适用于检验实验室内的各种检验仪器。
 </div>
  <div class="title">
 <span>3、职责</span>
 </div>
 <div class="content">
3.1 本中心检验科人员必须以本制度规范自己的工作。
<br><br>
3.2 检验科负责人负责检查和监督。
 </div>
  <div class="title">
 <span>4、制度要求</span>
 </div>
 <div class="content">
4.1检验科内各种设施要符合相关规定,所使用的所有仪器应经过安全使用认证。检验科供电线路中必须安装断路器和漏电保护器。<br><br>
4.2科内大型仪器、设备、精密仪器由专人负责保管、登记、建档,仪器设备的使用者,需经专业技术培训.<br><br>
4.3科内仪器设备应在检定和校准的有效期内使用,并按照检定周期的要求进行自检或强检,对使用频率高的仪器按规定在检定周期内进行期间核查。<br><br>
4.4主要仪器设备应建立使用记录,有操作规程,注意事项,相关技术参数和维护记录,并置于显见易读的位置。仪器使用者必须认真遵守操作规程,并做好仪器设备使用记录,定期维护仪器设备。<br><br>
4.5仪器设备所用的电源,必须满足仪器设备的供电要求。用电仪器设备必须安全接地。电源插座不得超栽使用。仪器设备在使用过程中出现断路保护时,必须在查明断电原因后,再接通电源。不准使用有用电安全隐患的设备(如漏电、电源插座破损、接地不良、绝缘不好等)。<br><br>
4.6仪器设备在使用过程中发生异常,随时记录在仪器随机档案上,维修必须由专业人员进行,并做维修记录。<br><br>
4.7仪器设备使用结束后,必须按日常保养进行检查清理,保持良好状态。<br><br>
4.8所有仪器设备应加贴唯一性标识及准用、限用、禁用标志。<br><br>
4.9长期用电设备(如冰箱、培养箱)应定期检查,并记录运行情况。<br><br>
4.10因故障或操作失误可能产生某种危害的仪器设备,必须配备相应的安全防护装置。<br><br>
4.11使用直接接触污染物的仪器设备前,必须确认相应的安全防护装置能正常启用。实验工作完成后,必须对接触污染物的仪器设备进行相应的清洗、消毒。<br><br>
4.12科内应指定专人对安全设备和实验设施/设备维护管理,保证其处于完好工作状态。仪器设备较长时间不使用时,应定期通电、除湿。有记录,保持设备清洁干燥。(例如每年应对生物安全柜进行一次常规检测,须特别关注高效过滤器。定期对离心机的离心桶和转子进行检查)。<br><br>
4.13高压灭菌器使用时,定期进行生物学指示剂检测。<br><br>
4.14冰箱应定期化冰、清洗,发现问题及时维修。实验区冰箱内禁止放个人物品及与实验无关的的物品。<br><br>
4.15所有仪器设备在维修和维护保养前运出实验室前必须进行消毒处理。<br><br>
  <br><br><br><br><br>
 </div>
 </body>
</html>